:root {
    --side-padding: 1rem;
    --border-radius: 13px;

    --font-family: Inter;

    --quater-black: rgba(21, 11, 11, 0.25)
}

* {
    box-sizing: border-box;
    font-family: var(--font-family);
}